html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: hidden;
    --background-light: #ffffff;
    --text-light: #000000;
    --background-dark: #121212;
    --text-dark: #ffffff;
    background-color: var(--background-light);
    color: var(--text-light);
}

body {
    transition: background-color 0.4s ease, color 0.4s ease;
}

    body.dark-mode {
        background-color: var(--background-dark);
        color: var(--text-dark);
    }

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,...truncated...) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

/* Dark mode nav scroll styles */
.dark-mode .nav-scrollable {
    background: url('/images/sailboat-BGimg.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

    .dark-mode .nav-scrollable::before {
        background: rgba(0, 0, 0, 0.7);
    }

    .dark-mode .nav-scrollable .nav-item .nav-link {
        color: #ccc;
    }

        .dark-mode .nav-scrollable .nav-item .nav-link:hover {
            color: white;
            background-color: rgba(255, 255, 255, 0.2);
        }

/* ========================= */
/* Loader styles start here */
/* ========================= */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

body.dark-mode .loader-wrapper {
    background-color: rgba(18, 18, 18, 0.8);
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* ========================= */
/* Loader styles end here   */
/* ========================= */
