@page "/favorite"
<h3>favoo</h3>


<h2 class="fav.color">Yellooo Favoss!</h2>



<style> 
    .fav.color{
       
        color: black;
        text-align: center;
        padding: 0;
        padding-right:0; */
        font-family: 'Roboto', sans-serif;
    }
</style>
@code {

}
