@page "/favorite"
<h3>favoo</h3>


<h2 class="fav.color">Yellooo Favoss!</h2>



<style> 
    .fav.color{
       /*  position: relative;
        z-index: 1; */
        color: black;
       /*  margin-top:20%; */
        text-align: center;
        /* top: 46%; */
        padding: 0;
        /* padding-left:0;
        padding-right:0; */
       /*  transform: translateY(-50%); */
        font-family: 'Roboto', sans-serif;
    }
</style>
@code {

}
